pip==19.1
black
wheel==0.33.1
twine==1.13.0
pylint
pytest==4.4.0
pytest-cov==2.6.1
pytest-mpl==0.10
coveralls==1.7.0
setuptools==41.0.1
bump2version==0.5.10
sphinx==2.0.0 # https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html
