pip==19.0.3
black
wheel==0.33.1
twine==1.13.0
pytest==4.4.0
pytest-cov==2.6.1
pytest-mpl==0.10
coveralls==1.7.0
setuptools==40.9.0
bump2version==0.5.10
sphinx==2.0.0 # https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html
